#sydor_experience { 
    height: 470px; 
    width: 100%;
    display: block;
    background: url('web-forest.jpg') no-repeat center center;
    background-size: cover;
 }

.sydor_experience_text {
    top: 15%;
    position: relative;
    text-align: center;
    display: block;
}

body{
    margin: 0;
    padding: 0;
}

.button {
    /* box-model */
    display: table;
    margin: 0px auto 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    top: 45%;
    position: relative;
    text-align: center;

    /* background */
    background-color:white;
    color: black;

    /* text */
    text-decoration: none;
    font-size: 12px;

    /* other */
    cursor: pointer;
    
}
